<div class="container">
    <main class="innerContainer">
        <div class="movie">
            <h3 class="movieTitle">{{movieTitle}}</h3>
            <div class="movieDetails">{{screen}} - {{time | date: 'medium'}}</div>
            <!-- <img src="{{image}}" height="auto" width="auto"> -->

        </div>

        <!-- Showing a static legend bar -->
        <div class="legend">
            <span class="oi oi-target freeSeat"></span> FREE
            <span class="oi oi-ban reservedSeat"></span> TAKEN
            <span class="oi oi-check selectedSeat"></span> SELECTED
        </div>

        <p class="font14 marginTop5">SCREEN THIS WAY</p>
        <div class="screen"></div>

        <!-- Generate the seating grid -->
        <div *ngFor="let row of rows">
            <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col)"
                    [ngSwitch]="getStatus(row + col)">
                <span *ngSwitchCase="'selected'" class="oi oi-check selectedSeat"></span>
                <span *ngSwitchCase="'reserved'" class="oi oi-ban reservedSeat"></span>
                <span *ngSwitchDefault class="oi oi-target freeSeat"></span>
            </span>
        </div>

        <!-- Structural directive - only visible on selection -->
        <div *ngIf="selectedSeats.length > 0" class="font14 marginTB10">
            <div class="wordWrap">SEATS RESERVED : {{selectedSeats.length}} <span class="count">({{previousSeat}})</span></div>
            <div>PRICE : {{ticketPrice}} * {{selectedSeats.length}} = {{currency}} {{ticketPrice*selectedSeats.length}} </div>
            <div>TOTAL : {{currency}} {{ticketPrice * selectedSeats.length + convFee}}</div>
        </div>

        <!-- Action buttons -->
        <div class="buttonBar marginTop5">
            <button (click)="clearSelected()" [disabled]="selectedSeats.length === 0" class="btn btn-default btn-sm">Clear</button>
            <button (click)="makeReservation()" [disabled]="selectedSeats.length === 0" class="btn btn-success btn-sm">Reserve Seats</button>
        </div>
    </main>
</div>
