<div *ngIf="reservation" class="row">
  <div class="col-md-12">
    <h2 *ngIf="reservation._id">Reservation Details</h2>
    <h2 *ngIf="!reservation._id">New Reservation</h2>
  </div>
</div>
<div *ngIf="reservation" class="row">
  <form class="col-md-12">
      <h3>{{reservation.movieTitle}}</h3>
      <img src="{{reservation.picture}}" height="auto" width="auto">
      <div>Original title: {{reservation.movieOriginalTitle}}</div>
      <div>Place: {{reservation.theatreAndAuditorium}}</div>
      <div>Length: {{reservation.length}} min</div>
      <div>Seats: {{reservation.seat}}</div>
      <div>Starting time: {{reservation.dttmShowStart |date:'medium'}}</div>
    <button class="btn btn-danger mt-2" *ngIf="reservation._id" (click)="deleteReservation(reservation._id)">Delete</button>

  </form>

</div>
