*{list-style-type: none;}

#wrapper {
  width: 80vw;
  overflow: hidden;
}
#img {
  width: 200px;
  float:left;
}
#info {
  float: left;
}
#title {
  font-size: 1.6em;
}
#time {
  font-size: 1.2em;
}
