<p>
  list works!
</p>
<div class="row">
  <div class="col-md-10">
    <ul class="list-group">
      <li
        *ngFor="let movie of movies">
        <div class="row-md-10" id="wrapper">
          <div class="col-md-4" id="img">
              <img src={{movie.Images.EventMediumImagePortrait}} height="auto" width="200">
          </div>
          <div class="col-md-8 ml-5" id="info">
              <div id="title">{{movie.Title| slice:0:50}}</div>
              <div>Original title: {{movie.OriginalTitle}}</div>
              <div>Method: {{movie.PresentationMethod}} </div>
              <div>Length: {{movie.LengthInMinutes}} min</div>
              <div>Location: {{movie.TheatreAndAuditorium}} </div>
              <div>Genres: {{movie.Genres}}</div>
              <div id="time">Start: {{movie.dttmShowStart| slice:11:16}}, End: {{movie.dttmShowEnd| slice:11:16}} </div>
              <div class="row justify-content-between ml-1">
                <img src={{movie.RatingImageUrl}} height="auto" width="40">
                <button class="btn btn-success">Tickets</button>
              </div>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
