<p>
  list works!
</p>
<div class="row">
  <div class="col-md-10">
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let movie of movies"
        (click)="selectMovie(movie)"
        [class.active]="movie === selectedMovie">
        <div class="" id="wrapper">
          <div class="" id="img">
              <img src={{movie.Images.EventMediumImagePortrait}} height="auto" width="200">
          </div>
          <div class="" id="info">
              <div>{{movie.Title}}</div>
              <div><p>Original title: </p>{{movie.OriginalTitle}}</div>
              <div><p>Genres: </p>{{movie.Genres}}</div>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
